html {
	height: 100%;
	width:100%
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color:#f3f0f0;
}
#start
{
	min-height:100%;
}
#question1{
background-color: red;
min-height:100%;

}
#question2{
background-color: blue;
min-height:100%;
}
#question3{
background-color: purple;
min-height:100%;
}
#question4{
background-color: green;
min-height:100%;
}
#question5{
background-color: yellow;
min-height:100%;
}